<div class="container">
  <div class="row">
    <div class="text-center">
      <%= image_tag 'S__2809913_0.jpg',class:'main_visual_image1' %>
    </div>
    <div class="text-center">
      <h2>ペットの日記帳</h2>
      <p>
        日々の喜び、可愛らしさ、そして癒し。<br>
        ペットとの特別な瞬間を共有し、深める場所です。<br>
        可愛らしい写真や面白いエピソードを楽しむ　ペットとの豊かな日常を綴り<br>
        共感と笑顔が広がる場として皆さんをお待ちしています。
      </p>
    </div>
  </div>
  <div class="row">
    <div class="text-center">
      <h2>About</h2>
      <p>
        自身もペットを飼っている・猫好きから様々な人のペットの可愛さを求め<br>
        SNSで検索をかけたりすることがありました。<br>
        しかし、検索ではペット関係でも健康状態・食べ物・おもちゃ・病院情報など<br>
        可愛らしさや日常の姿だけの投稿を探すのは難しいと感じました。<br>
        なのでペットの日常や可愛らしさ、面白い姿だけを検索できる専門のサイトが<br>
        欲しいと思いこのペットの日記帳を作成しました。
      </p>
    </div>
    <div class="text-center">
      <%= image_tag 'S__2809910_0.jpg',class:'main_visual_image2' %>
    </div>
  </div>
</div>



