<div class="container">
  <div class="row ">
    <div class="col">
      <div class="text-center">
        <%= image_tag 'S__2809912_0.jpg',class:'main_visual_image1' %>
      </div>
    </div>
    <div class="col">
      <div class="text-center justify-content-center">
        <div class="card1 p-2">
          <h2>ペットの日記帳</h2>
          <p>
            日々の喜び、可愛らしさ、そして癒し。<br>
            ペットとの特別な瞬間を共有し、深める場所です。<br>
            可愛らしい写真や面白いエピソードを楽しむ<br>
            ペットとの豊かな日常を綴り<br>
            共感と笑顔が広がる場として皆さんをお待ちしています。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-center justify-content-center">
        <div class="card2 p-2">
          <h2>About</h2>
          <p>
            自身もペットを飼っていること<br>
            猫好きから様々な人のペットの可愛さを<br>
            求めSNSで検索をかけたりすることがありました。<br>
            SNS検索ではペット関係でも<br>
            健康状態・食べ物・おもちゃ・病院情報など<br>
            可愛らしさや日常の姿だけの投稿を探すのは<br>
            難しいと感じていました。<br>
            なのでペットの日常や可愛らしさ<br>
            面白い姿だけを検索できる専門のサイトが<br>
            欲しいと思いこのペットの日記帳を作成しました。
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="text-center">
        <%= image_tag 'S__2809910_0.jpg',class:'main_visual_image2' %>
      </div>
    </div>
  </div>
</div>