<div class="container">
  <h1>Tag Lists</h1>
  <ul>
    <% @tags.each do |tag| %>
      <li>
        <%= link_to "#{tag.name} (#{tag.posts.count})", admin_tag_path(tag) %>
      </li>
    <% end %>
  </ul>
</div>