<div class="container">
  <h1><%= @tag.name %></h1>
  <div class="row">
    <% @tag.posts.each do |post| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <%= link_to post.post_content.truncate(20), admin_post_path(post) %>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to "削除", admin_tag_path(@tag), method: :delete, "data-confirm" => "タグを削除しますか？" %>
  </div>
</div>