@use '~bootstrap/scss/bootstrap';

.header{
  background-color:#e6c0c0;
}

main{
  background-color:#f2f5ff;
  margin: 60px auto;
}

.footerFixed{
  min-height: 100vh; // ←コンテンツ量最小値（ブラウザの高さ）
  position: relative;// ←相対位置 
  padding-bottom: 60px; // ←フッターの高さを指定
  box-sizing: border-box;
  //↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 
}

.footer{
    position: absolute;/* ←絶対位置 */
    bottom: 0;
    background: #1d1b3f;
    color: #fff;
    text-align: center;
}

.main_visual_image1{
  width: 555px;
  height: 400px;
}

.main_visual_image2{
  width: 555px;
  height: 400px;
}

