@use '~bootstrap/scss/bootstrap';

* { font-family: 'Yomogi', cursive; }

/*リンク関係*/
a {
font-weight:bold;
text-decoration:none;
color: #4d2d22;
}
/*アクセスしたことのないリンク
a:link {
color:#e3fcca; 
}*/
/*アクセスしたことのあるリンク
a:visited { 
color:#fccafc;
}*/
/*マウスが上に乗っている状態*/
a:hover {
color:#fccafc;
text-decoration:underline;
}
/*クリック中*/
a:active {
color:#cafcec;
}

.wrapper{
  width: 100%;
  position: relative;
  height: 85px;
  color: #4d2d22;
}

body{
  height: 100%;
  width: 100%;
  background-color: #fff9f5;
  color: #4d2d22;
}
/*フラッシュメッセージ〇*/
.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
}
 /*フラッシュメッセージ✕*/
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
}
/*マイページのサイド追跡*/
#sub {
  box-sizing: border-box;
  width: 270px;
}

#sub .box{
  position: sticky;
  top: 500px;
  width: 100%;
  height: 300px;
  background: #CCC;
}

.btn-group .nav-item{
  color: #4d2d22;
}

.main_visual_image1{
  width: 555px;
  height: 400px;
}

.card1 {
  width: auto;
  background: #fafdff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.card2 {
  width: auto;
  background: #fafdff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.main_visual_image2{
  width: 555px;
  height: 400px;
}

.card{
  background-color: #fffff9;
}
/*headerのデザイン*/
/*public*/
.title1{
  border: 4px solid #fdeff2;
  padding: 2px;
  border-radius: 10px
}

.title2{
  background: #fdeff2;
  border-radius: 10px;
  font-size: 100%;

}
/*admin*/
.title3{
  border: 4px solid #e3f4fc;
  padding: 2px;
  border-radius: 10px
}

.title4{
  background: #e3f4fc;
  border-radius: 10px;
  font-size: 100%;

}


/*ログイン前*/
.title5{
  border: 4px solid #f1e3fc;
  padding: 2px;
  border-radius: 10px
}

.title6{
  background: #f1e3fc;
  border-radius: 10px;
  font-size: 100%;
}
/*ボタン*/
.title7{
  border: 4px solid #bee6df;
  padding: 2px;
  border-radius: 10px
}

.title8{
  background: #bee6df;
  border-radius: 10px;
  font-size: 100%;
}
/*ページ名の飾り*/
/*新規登録*/
.titleA{
  background: #cbe6be;
  padding: 5px;
  border: 2px dashed rgba(255 , 255 , 255 , 0.5);
  -moz-border-radius: 6px;
  -moz-box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
  border-radius: 6px;
  box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
}
/*adminログイン*/
.titleB{
  background: #f7b977;
  padding: 5px;
  border: 2px dashed rgba(255 , 255 , 255 , 0.5);
  -moz-border-radius: 6px;
  -moz-box-shadow: 0 0 0 5px #f7b977 , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 0 0 0 5px #f7b977 , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
  border-radius: 6px;
  box-shadow: 0 0 0 5px #f7b977 , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
}
/*adminログイン*/
.titleC{
  background: #e6cde3;
  padding: 5px;
  border: 2px dashed rgba(255 , 255 , 255 , 0.5);
  -moz-border-radius: 6px;
  -moz-box-shadow: 0 0 0 5px #e6cde3 , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 0 0 0 5px #e6cde3 , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
  border-radius: 6px;
  box-shadow: 0 0 0 5px #e6cde3 , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
}
/*新規投稿*/
.titleD{
  background: #e6cde3;
  padding: 5px;
  border: 2px dashed rgba(255 , 255 , 255 , 0.5);
  -moz-border-radius: 6px;
  -moz-box-shadow: 0 0 0 5px #e6cde3 , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 0 0 0 5px #e6cde3 , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
  border-radius: 6px;
  box-shadow: 0 0 0 5px #e6cde3 , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
}

.marker-P-green{
  background: linear-gradient(transparent 60%, #ccffcc 0%);
}

/* ねこBOX */
.neko-box {
 position: relative;
 margin: 4em auto 3em;
 padding: 20px 30px;
 width: 90%; /* ボックス幅 */
 background: #dcdcdc; /* ボックス背景色 */
 color: #333333; /* 文字色 */
 font-weight: bold; /* テキスト太字（不要なら行を削除） */
 text-align: center; /* テキスト中央（不要なら行を削除） */
 border: 5px solid #999999; /* ボックス枠線(太さ・線種・色) */
 border-radius: 50px;
 z-index: auto;
}

.neko-box::before, 
.neko-box::after {
 height: 60px;
 width: 60px;
 position: absolute;
 content:'';
 top: -30px;
 z-index: -10;
}

.neko-box::before {
 left: 20%;
 background: #696969; /* 左耳背景色 */
 border: 5px solid #999999; /* 左耳枠線(太さ・線種・色) */
 border-radius: 10px 50px 100px 50px;
 transform: rotate( 45deg );
}

.neko-box::after {
 right: 20%;
 background: #696969; /* 右耳背景色 */
 border: 5px solid #999999; /* 右耳枠線(太さ・線種・色) */
 border-radius: 50px 10px 50px 100px;
 transform: rotate( -45deg );
}

.neko-wrap-b{
 background-color: transparent;
 position: relative;
 z-index: 0;
}