@use '~bootstrap/scss/bootstrap';

* { font-family: 'Yomogi', cursive; }

main{
  height: 100%;
  width: 100%;
  background-color: #fff9f5;
}

footer{
  
}

.main_visual_image1{
  width: 555px;
  height: 400px;
}

.card1 {
  width: auto;
  background: #fafdff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.card2 {
  width: auto;
  background: #fafdff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.main_visual_image2{
  width: 555px;
  height: 400px;
}


