<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <div class="col-6 text-center">
        <div class="titleH" >
          <h2>
              ユーザー一覧
          </h2>
        </div>
      </div>
      <div class="pt-5">
        <table class="table", style="color: #4d382e;">
          <thead>
            <tr>
              <th>会員ID</th>
              <th>ユーザー名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td>
                <div class="marker-P-blue">
                  <%= link_to user.name, admin_user_path(user) %>
                </div>
              </td>
              <td><%= user.email %></td>
              <td>
                <% if user.is_active == true %>
                  <p class = "text-success">有効</p>
                <% else%>
                　<p class = "text-secondary">退会済</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col  pt-5">
        <%= paginate @users %>
      </div>
    </div>
  </div>
