<div class="container">
  <div class="row d-flex justify-content-center">
      <span class="text-center p-2" style="color: #fef9fb;">
          <i class="fa-solid fa-paw"></i>
      </span>
      <span class="text-center p-2" style="color: #fef9fb;">ポートフォリオ作品　Pet-Diary　近澤絢女</span>
      <span class="text-center p-2" style="color: #fef9fb;">
        <%= link_to new_admin_session_path do %>
          <i class="fa-solid fa-paw"style="color: #fef9fb;"></i>
        <% end %>
      </span>
  </div>
</div>